.mainHome {
  display: flex;
  width: 100%;
}

.divHand {
  width: 100%;

  &__image {
    width: 100%;
    height: 800px;

    // Tablette
    @media screen and (max-width: 1024px) {
      height: 600px;
    }

    // Mobile
    @media screen and (max-width: 767px) {
      height: 500px;
      object-fit: cover;
    }

    // Très petit mobile
    @media screen and (max-width: 375px) {
      height: 450px;
    }
  }
}

.titles {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;

  &__first {
    font-family: cinzel, serif;
    margin-top: 40px;
    font-weight: 200;
    font-size: 38px;
    display: flex;
    justify-content: center;
    text-shadow: 2px 3px 5px;

    // Tablette
    @media screen and (max-width: 1024px) {
      font-size: 32px;
      margin-top: 30px;
    }

    // Mobile
    @media screen and (max-width: 767px) {
      font-size: 24px;
      margin-top: 20px;
      padding: 0 15px;
      text-align: center;
    }

    // Très petit mobile
    @media screen and (max-width: 375px) {
      font-size: 20px;
    }
  }

  &__second {
    font-family: cinzel, serif;
    font-size: 24px;
    display: flex;
    font-weight: 160;
    justify-content: end;
    margin-top: 160px;
    margin-right: 30px;

    // Tablette
    @media screen and (max-width: 1024px) {
      font-size: 20px;
      margin-top: 120px;
      margin-right: 20px;
    }

    // Mobile
    @media screen and (max-width: 767px) {
      font-size: 16px;
      margin-top: 80px;
      margin-right: 15px;
      text-align: right;
    }
  }

  &__three {
    font-family: cinzel, serif;
    font-size: 20px;
    font-weight: 200;
    display: flex;
    justify-content: start;
    margin-left: 30px;
    margin-top: 190px;

    // Tablette
    @media screen and (max-width: 1024px) {
      font-size: 18px;
      margin-left: 20px;
      margin-top: 140px;
    }

    // Mobile
    @media screen and (max-width: 767px) {
      font-size: 14px;
      margin-left: 15px;
      margin-top: 100px;
    }
  }
}

.buttonHand {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: end;

  &__Appointment {
    border: none;
    padding: 26px;
    background-color: #d68795;
    border-radius: 15px;
    font-family: cinzel, sherif;
    color: white;
    font-size: 20px;
    margin-top: 630px;
    margin-right: 30px;
    margin-left: 815px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    // Tablette
    @media screen and (max-width: 1024px) {
      padding: 20px;
      font-size: 18px;
      margin-top: 480px;
      margin-right: 20px;
      margin-left: auto;
    }

    // Mobile
    @media screen and (max-width: 767px) {
      padding: 16px 24px;
      font-size: 16px;
      margin-top: 380px;
      margin-right: 15px;
      margin-left: 15px;
      width: calc(100% - 30px);
      max-width: 300px;
    }

    // Très petit mobile
    @media screen and (max-width: 375px) {
      margin-top: 330px;
      padding: 14px 20px;
      font-size: 15px;
    }
  }

  // Mobile - centrer le bouton
  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}
