.mainHome {
  display: flex;
  width: 100%;
}
.divMains {
  width: 100%;
  &__image {
    width: 100%;
    height: 800px;
  }
}
.titles {
  position: absolute;
  display: flex;
  width: 100%;
  flex-direction: column;
  &__first{
    font-family: cinzel, serif;
    margin-top: 40px;
    font-weight: 200;
    font-size: 38px;
    display: flex;  
    justify-content: center;
    text-shadow: 2px 3px 5px;
  }
  &__second {
    font-family: cinzel, serif;
    font-size: 24px;
    display: flex;  
    font-weight: 160;
    justify-content: end;
    margin-top: 160px;  
    margin-right: 30px;
  }
  &__three {
    font-family: cinzel, serif;
    font-size: 20px;
    font-weight: 200;
    display: flex;  
    justify-content: start;
    margin-left: 30px;
    margin-top: 190px;
  }
}
